<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Intro AngularJs</title>
</head>
<body ng-controller="UsersController as ctrl">

    <div ng-init="nombres=['Alfredo','Brahian','Diana','Mateo','Jeronimo']">

        <h3>Iterando a través de datos con ng-repeat</h3>

        <ul>
            <li ng-repeat="nombre in nombres track by $index" ng-bind="nombre"></li>
        </ul>

    </div>

    <div>

        Filter: <input type="text" ng-model="myFilter">
        Order: <input type="text" ng-model="order" size="10">
        Type: <input type="checkbox"
                     ng-checked="true"
                     ng-model="type"
                     ng-true-value="''"
                     ng-false-value="'-'">
        {{type}}


        <ul>
            <li ng-repeat="user in ctrl.users | filter: myFilter | orderBy: type + order track by $index">
                {{ user.name | uppercase }}
                {{ user.last_name | uppercase }}
                {{ user.money | currency }}
            </li>
        </ul>

    </div>


<script src="node_modules/angular/angular.js"></script>
<script src="app.module.js"></script>
<script src="app.controller.js"></script>

</body>
</html>