<div>

    <social></social>

    <div class="panel panel-default">
        <div class="panel-heading">
            Perfil de GitHub
        </div>
        <div class="panel-body">

            <div class="col-lg-4">
                <img class="thumbnail" ng-src="{{ctrl.perfil.avatar_url}}" width="230" height="230">
                <h3 ng-bind="ctrl.perfil.name"></h3>
                <small ng-bind="ctrl.perfil.login"></small>
            </div>
            <div class="col-lg-8">
                <div class="panel panel-default">
                    <div class="panel-heading" ng-click="ctrl.getRepos()">
                        Repositorios
                    </div>
                    <ul class="list-group">
                        <li ng-repeat="repo in ctrl.repos track by $index"
                            ng-bind="repo.name"
                            class="list-group-item"></li>
                    </ul>
                    <div class="panel-body">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <pre>{{ctrl.perfil | json}}</pre>

</div>